@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lexend:wght@400;500;600;700;800&family=Source+Sans+Pro:wght@400;700&display=swap");

@font-face {
  font-family: "Zing Rust";
  src: url(/fonts/ZingRustDemo-Base.otf);
}

html {
  font-size: calc(125vw / 256);
}
@media (max-width: 1920px) {
  html {
    font-size: calc(110vw / 192);
  }
}
@media (max-width: 1680px) {
  html {
    font-size: calc(100vw / 168);
  }
}
@media (max-width: 1432px) {
  html {
    font-size: calc(100vw / 144);
  }
}
@media (max-width: 960px) {
  html {
    font-size: calc(100vw / 96);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: gray;
}

body::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: gray;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1c1d1f;
}

html {
  scroll-behavior: auto;
}
body {
  overflow: hidden;
}
body.enable-scroll {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

div,
span,
p {
  cursor: default;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

button,
a,
input,
textarea {
  outline: none;
}

button.copy-btn:disabled {
  cursor: wait;
}

button * {
  pointer-events: none;
}

svg {
  overflow: visible;
}
